<%=render file: '/app/views/layouts/title-content'%>

<h2>update comment:</h2>
<%= form_for @comment, url: blog_comment_path(@comment.blog.id, @comment.id), method: :patch do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Edit Comment" %>
  </p>
<% end %>

</body>
</html>