    <h2>Campus Naviation System</h2>
       <p>
         We developed an application using the GoogleMap API for users to conveniently navigate and locate buildings and departments on the Andrews University Campus. This was done as an academic project incorporating all the concepts and skills that go into the software development cyclSample screen shots of the application are provided below.
       </p>
      <br>
      <div id="navigationSystem" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#navigationSystem" data-slide-to="0" class="active"></li>
          <li data-target="#navigationSystem" data-slide-to="1"></li>
          <li data-target="#navigationSystem" data-slide-to="2"></li>
          <li data-target="#navigationSystem" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

          <div class="item active">
            <%=image_tag "project/main.jpg", alt:"Main Screen", width:"460", height:"345"%>
            <div class="carousel-caption">
              <h3>Main</h3>
              <p>Main display for the application</p>
            </div>
          </div>

          <div class="item">
            <%=image_tag "project/tracking.jpg", alt:"Tracking Feature", width:"460", height:"345"%>
            <div class="carousel-caption">
              <h3>Tracking Feature</h3>
              <p>Tracking options for users</p>
            </div>
          </div>

          <div class="item">
            <%=image_tag "project/view_submenu.png", alt:"Submenu View", width:"460", height:"345"%>
            <div class="carousel-caption">
              <h3>Submenu View</h3>
              <p>View options for users</p>
            </div>
          </div>

          <div class="item">
            <%=image_tag  "project/view_submenu_options.png", alt:"Submenu Options", width:"460", height:"345"%>
            <div class="carousel-caption">
              <h3>Sub Menu Options</h3>
              <p>Sub-menu options displaying additional options for the general view</p>
            </div>
          </div>

        <div class="item">
          <%=image_tag  "project/running_ad.png", alt:"Running Ad", width:"460", height:"345"%>
          <div class="carousel-caption">
            <h3>Running Advertisement</h3>
            <p>Running advertisements for the school</p>
          </div>
        </div>
       </div> 
        <!-- Left and right controls -->
          <a class="left carousel-control" href="#navigationSystem" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#navigationSystem" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
  <br>