<h2>Environmental and Engineering Consulting</h2>
  <p>
     I have worked on several environmental and engineering projects, some of which I was project manager and project team lead. I have successfully worked with a number of international organizations who are world-leaders in their trade. These projects include: preparation of Environmental Impact Assessment, Closure Plans, Due Diligence Audit, Chemical Plant Assessment and Monitoring Reports. Some projects are shown below.
  </p>
	<div id="myCarousel" class="carousel slide" style="width: 800px; margin: 0 auto">
	  <div class="carousel-inner" role="listbox">
	       <div class="item active">
		       <a href="http://www.nepa.gov.jm/eias/StAnn/Golden%20Sands%20Beach%20Cottages/FINAL_EIA_REPORT_ASN_NOV._10_10.pdf" target="_blank">       
		        	<%=image_tag "project/eia_images/EIA_Alcatel.jpg", alt:"Main Screen", width:"460", height:"345"%>
		        </a>
	        <div class="carousel-caption">
	        </div>
	      </div>

	      <div class="item">
	        <a href= "http://www.nepa.gov.jm/eias/clarendon/rocky_point/stock-pile/revised_rinker_port_eia.pdf" target="_blank">	        
	            <%=image_tag "project/eia_images/EIA_Cemex.jpg", class:"img-responsive center-block", alt:"Tracking Feature", width:"460", height:"345"%>
	            <div class="carousel-caption">
	            </div>
	        </a>
	      </div>

	      <div class="item">
	        <a href="http://www.nepa.gov.jm/new/services_products/applications/eias/docs/misc/FibraLink/New-Cable-Lay/Fibralink_New_Cable_Lay-Marine_Assessment_Report-FINAL.pdf" target="_blank">
	            <%=image_tag "project/eia_images/EIA_FibraLink.jpg", alt:"Submenu View", width:"460", height:"345"%>
	        </a>
	            <div class="carousel-caption">
	            </div>	        
	      </div>

	      <div class="item">
	      	<a href="http://www.nepa.gov.jm/eias/Clarendon/Jamalco/run_off_storage/EIS%20Report%20Final%20Version.pdf" target="_blank">
	        	<%=image_tag  "project/eia_images/EIA_Jamalco.jpg", alt:"Submenu Options", width:"460", height:"345"%>
	        </a>
	        <div class="carousel-caption">
	        </div>
	      </div>

	      <div class="item">
	      	<a href="http://www.nepa.gov.jm/eias/trelawny/martha-brae/holland_estate/holland_estate_eia.pdf" target="_blank">
	        	<%=image_tag  "project/eia_images/EIA_Kencasa.jpg", alt:"Running Ad", width:"460", height:"345"%>
	        </a>
	        <div class="carousel-caption">
	        </div>
	      </div>

	      <div class="item">
	      	<a href="http://www.nepa.gov.jm/new/services_products/applications/eias/docs/Clarendon/Rocky_Point/Stock-pile/eia_for_port_&_transportation_corridor_-_volume_i.pdf" target="_blank">
	        	<%=image_tag  "project/eia_images/EIA_Rinker.jpg", alt:"Geotracking", width:"460", height:"345"%>
	        </a>
	        <div class="carousel-caption">
	         
	        </div>
	      </div>

	      <div class="item">
	      <a href="http://www.nepa.gov.jm/eias/Manchester/Kirkvine/Windalco.pdf" target="_blank">
	        	<%=image_tag  "project/eia_images/EIA_Windalco.jpg", alt:"path", width:"460", height:"345"%>
	       </a>
	        <div class="carousel-caption">
	         
	        </div>
	      </div>
	  </div> 

	  <a class="left carousel-control" href="#myCarousel" data-slide="prev" role="button">
	          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
	          </span> 
	        <span class="sr-only">Next</span>
	  </a>

	    <a
	    class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
	        </span> 
	        <span class="sr-only">Next</span>
	    </a>
	</div>

