<html>
	<head>
		<style type="text/css"></style>
		<link rel="stylesheet" href="css/bootstrap.min.css">
	</head>
	<body>

		<div class="container">
			<div class="row">
				<div class="col-md-6">					
					<img src="http://placehold.it/150x150" class="img-responsive" alt="Responsive image">
				</div>
				<div class="col-md-6 text-right" >
					<h1>Wayne Morris</h1>
				</div>	
			</div>	
			<div class="row" style="background:orange; text-align:center;" >
				<div class="col-md-2">
					<h2>
						<%= link_to "Home", welcome_index_path %>
					</h2>
				</div>
				<div class="col-md-2">
					<h2>
						<%= link_to "About", welcome_about_path %>
					</h2>
				</div>
				<div class="col-md-2">
					<h2>
						<%= link_to "Projects", welcome_projects_path %>
					</h2>
				</div>

				<div class="col-md-2">
					<h2>
						<%= link_to "Resume", welcome_resume_path %>	
					</h2>

				</div>
				<div class="col-md-2">
					<h2>
						<%= link_to "Contacts", welcome_contacts_path %>
					</h2>	
				</div>
				<div class="col-md-2">
					<h2>
						<%= link_to "Blog", welcome_blog_path %>
					</h2>	
				</div>				
			</div>
			<hr>	
			<div class="row">
				<div class="col-md-12">
					<h3> Hello! </h3> 
						<p>

							Having graduated with a Bachelor's degree in Chemical Engineering and a Master's in Software Engineering with more than 5 years professional experience, I have a diverse background of knowledge and experience that encompasses the areas of Computer Science, Engineering, Mathematics, Natural Sciences and Management. I am equipped with the relevant skills in providing solutions for products, services and unprecedented improvements in the quality of life overall. I have a passion for solving everyday problems through the use of science and technology, and to offer my services where I am able to make my most effective contributions in impacting lives positively.
						</p>
						<p>		
							I am not only interested in being just a player but also a creator and an innovator in being a part of a group that is always seeking ways to provide solutions for improving science and technology that can be applied to make the delivery of products and services more efficient and beneficial to society.
						</p>
						<p>	

							Please feel free to take a look at my resume and professional projects for further details. Please also visit my github page for further details on some projects that I have worked on.
						</p>
						<p>		
							I thank you for taking the time out to familiarize yourself with my background and to see how I may be of service to meeting your needs. Please click here for contact details.
						</p>
						<p>		
							Thank you.
						</p>
				</div>

				<div>
				</div>

				<div>
				</div>

				<div>
				</div>
			</div>
		</div>	

				<!-- Modal 
	<div class="modal fade" id="project1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h4 class="modal-title" id="myModalLabel">Favorite App Page</h4>
		  </div>
		  <div class="modal-body">
			<img class="img-responsive" src="http://placehold.it/1140x350">
			This was my first project in this class. I learned a lot about HTML and CSS.
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  </div>
		</div>
	  </div>
	</div>
	-->
	</body>

</html>