
<%=render file: '/app/views/layouts/project_carousels/header_carousel'%>
  <body>
    <div class="container" style="background:honeydew; padding-left:150px; padding-right:150px;">
      <div class="project_carousel">
              <h2>www.waynemorris.com</h2>
              <p>
                  waynemorris.com is built with the Ruby on Rails framework. It was a project that was developed to highlight my skills as a software developer and to show case my professional experience which includes project management, professional consulting, engineering and software development.
              </p>
              <br>
              <%=render file: '/app/views/layouts/project_carousels/cns_carousel'%>
              <%=render file: '/app/views/layouts/project_carousels/thesis_carousel'%>
              <%=render file: '/app/views/layouts/project_carousels/eia_carousel'%>

      <br><br><br><br><br><br>
      <p>I have also learned about various framework, including Java Spring, Android and Ruby on Rails which this site was built on.</p>
      <br><br><br><br>
    </div>
  </div>


<%=render file: '/app/views/layouts/footer-content'%>

