<%=render file: '/app/views/layouts/title-content'%>

<title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' %>
  <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <%= stylesheet_link_tag "application", media: "all" %>

<!--
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script>src="app/assets/javascripts/bootstrap.js"</script>
  <script>src="app/assets/javascripts/bootstrap.min.js"</script>
  <script>src="app/vendor/assets/javascripts/npm.js"</script>
  -->

  <style>
      .carousel-inner > .item > img,
      .carousel-inner > .item > a > img {
          width: 70%;
          margin: auto;
      }
  </style>
</head>
<body>

<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>



    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <%=image_tag "project/main.jpg", alt:"Main Screen", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Main</h3>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
        </div>
      </div>

      <div class="item">
        <%=image_tag "project/tracking.jpg", alt:"Tracking Feature", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Tracking Feature</h3>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
        </div>
      </div>

      <div class="item">
        <%=image_tag "project/view_submenu.png", alt:"Submenu View", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Submenu View</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>
      </div>

      <div class="item">
        <%=image_tag  "project/view_submenu_options.png", alt:"Submenu Options", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Sub Menu Options</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>
      </div>

    <div class="item">
      <%=image_tag  "project/running_ad.png", alt:"Running Ad", width:"460", height:"345"%>
      <div class="carousel-caption">
        <h3>Running Advertisement</h3>
        <p>Beatiful flowers in Kolymbari, Crete.</p>
      </div>
    </div>

      <div class="item">
        <%=image_tag  "project/real_time_geotracking.png", alt:"Geotracking", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Geotracking Feature</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>
      </div>

    <div class="item">
      <%=image_tag  "project/finding_dest_path.png", alt:"path", width:"460", height:"345"%>
      <div class="carousel-caption">
        <h3>Destination Path</h3>
        <p>Beatiful flowers in Kolymbari, Crete.</p>
      </div>
    </div>

        <div class="item">
          <%=image_tag  "project/geo_position.png", alt:"Geo-position", width:"460", height:"345"%>
          <div class="carousel-caption">
            <h3>Location</h3>
            <p>Beatiful flowers in Kolymbari, Crete.</p>
          </div>
        </div>
    </div>

     <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>

<%=render file: '/app/views/layouts/footer-content'%>

