
<%=render file: '/app/views/layouts/project_carousels/header_carousel'%>
  <body>
    <div class="container" style="background:honeydew; padding-left:150px; padding-right:150px;">
      <div class="project_carousel">
              <h2>waynemorris.info</h2>
              <p>
                  waynemorris.info was built with the Ruby on Rails framework. It was a project that was developed to gain understanding of the Ruby on Rails framework and to increase my familiarity with front-end development utilizing HTML, CSS, Javascript, JQuery and GoogleMaps API, as well as an opportunity to highlight my skills and professional experience from various areas. 
              </p>
              <br>

              <h2>Data Science</h2>
                <p>
                  I have completed all the courses in the Coursera Data Science Specialization, including
                  <li>Data Science Toolbox</li>
                  <li>R Programming</li>
                  <li>Getting and Cleaning Data</li>
                  <li>Reproducible Research</li>
                  <li>Statistical Inference</li>
                  <li>Regression Model</li>
                  <li>Practical Machine Learning</li>
                  <li>Developing Data Products</li>
                  <li>Capstone Project(in-progress)</li>
                </p>

              <br>

              <h2>Restaurant Application</h2>
              <p>
                  This is an academic project that explored and exploited the use of authentication and authorization with OAuth.
                  The application allows the user to perform CRUD operations on restaurants and its menu. Therefore, users are allowed to
                  create, read, update and delete restaurants and its associated menu items. However, users must first be authenticated and authorized before 
                  they are able to perform certain operations, including create, update and delete. These operations require the user
                  to be authenticated and authorized by logging in through their gmail or facebook which is setup through their respective apis. 
                  <p>
                  The application has can be viewed <a href="http://restaurants-menu.herokuapp.com/" target="_blank" style="display:inline">here</a> 
                  </p> 
              </p>
              <br>

              <h2>Conference Central</h2>
              <p>
                The conference central application is an api which is built for scalability utilizing google app engine.
                The application allows the user to perform CRUD operations and queries on the conference attendances and schedules.
                <p>
                The application can be viewed <a href="https://python-scalable-app-1088.appspot.com/#/" target="_blank" style="display:inline">here</a> 
              </p>
              </p>
              <br>

              <h2>Web Crawler System Infrastructure</h2>
              <p>
                I played a major role in supporting and maintaining the <a href="http://www.wishclouds.com" style="display:inline"> Wishclouds</a> Crawler System infrastructure which was built using Ruby. I developed new crawlers and performed various enhancements to the system which includes: 
                 <li>rewriting all the necessary queries that were to be performed using AWS DynamoDB to optimize database performance.</li>
                 <li>modifying the system so that updates were done correctly</li>
                 <li>apply fixes to any issues concerning crawler functionality</li>
                 <li>developed solutions for extracting accurate information when scraping difficult web pages</li>
                 <li>and working with Redis, Elasticsearch and MongoDB to store and perform CRUD operations as necessary.</li>
              </p>
              <br>
              <%=render file: '/app/views/layouts/project_carousels/cns_carousel'%>
              <%=render file: '/app/views/layouts/project_carousels/thesis_carousel'%>
              <%=render file: '/app/views/layouts/project_carousels/eia_carousel'%>

      <br>
      <p>In addition, I am also familiar with a number of frameworks, including Java Spring, Android and Ruby on Rails which this site was built on.</p>
      <br><br><br><br><br><br><br>
    </div>
  </div>


<%=render file: '/app/views/layouts/footer-content'%>

