<%=render file: '/app/views/layouts/title-content'%>

<title>Projects</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' %>
  <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <%= stylesheet_link_tag "application", media: "all" %>

<!--
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script>src="app/assets/javascripts/bootstrap.js"</script>
  <script>src="app/assets/javascripts/bootstrap.min.js"</script>
  <script>src="app/vendor/assets/javascripts/npm.js"</script>
  -->

  <style>
      .carousel-inner > .item > img,
      .carousel-inner > .item > a > img {
          width: 70%;
          margin: auto;
      }
  </style>


<style type="text/css"></style>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

</head>
<body>

<div class="container">
<h2>www.waynemorris.com</h2>
<br>
<h2>Campus Naviation System</h2>
  <br>
  <div id="navigationSystem" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <%=image_tag "project/main.jpg", alt:"Main Screen", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Main</h3>
          <p>Main display for the application</p>
        </div>
      </div>

      <div class="item">
        <%=image_tag "project/tracking.jpg", alt:"Tracking Feature", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Tracking Feature</h3>
          <p>Tracking options for users</p>
        </div>
      </div>

      <div class="item">
        <%=image_tag "project/view_submenu.png", alt:"Submenu View", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Submenu View</h3>
          <p>View options for users</p>
        </div>
      </div>

      <div class="item">
        <%=image_tag  "project/view_submenu_options.png", alt:"Submenu Options", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Sub Menu Options</h3>
          <p>Sub-menu options displaying additional options for the general view</p>
        </div>
      </div>

    <div class="item">
      <%=image_tag  "project/running_ad.png", alt:"Running Ad", width:"460", height:"345"%>
      <div class="carousel-caption">
        <h3>Running Advertisement</h3>
        <p>Running advertisements for the school</p>
      </div>
    </div>

      <div class="item">
        <%=image_tag  "project/real_time_geotracking.png", alt:"Geotracking", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Geotracking Feature</h3>
          <p>Real time geotracking on users whereabouts</p>
        </div>
      </div>

    <div class="item">
      <%=image_tag  "project/finding_dest_path.png", alt:"path", width:"460", height:"345"%>
      <div class="carousel-caption">
        <h3>Destination Path</h3>
        <p>Path showing where the user traveled.</p>
      </div>
    </div>

        <div class="item">
          <%=image_tag  "project/geo_position.png", alt:"Geo-position", width:"460", height:"345"%>
          <div class="carousel-caption">
            <h3>Location</h3>
            <p>Exact lattitude and longitude position of user.</p>
          </div>
        </div>
    </div>

     <!-- Left and right controls -->
    <a class="left carousel-control" href="#navigationSystem" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#navigationSystem" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <br>
  <h2>Thesis</h2>
  <div id="thesis" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#thesis" data-slide-to="0" class="active"></li>
      <li data-target="#thesis" data-slide-to="1"></li>
      <li data-target="#thesis" data-slide-to="2"></li>
      <li data-target="#thesis" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <%=image_tag "project/main.jpg", alt:"Main Screen", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Main</h3>
          <p>Main display for the application</p>
        </div>
      </div>

      <div class="item">
        <%=image_tag "project/tracking.jpg", alt:"Tracking Feature", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Tracking Feature</h3>
          <p>Tracking options for users</p>
        </div>
      </div>

      <div class="item">
        <%=image_tag "project/view_submenu.png", alt:"Submenu View", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Submenu View</h3>
          <p>View options for users</p>
        </div>
      </div>

      <div class="item">
        <%=image_tag  "project/view_submenu_options.png", alt:"Submenu Options", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Sub Menu Options</h3>
          <p>Sub-menu options displaying additional options for the general view</p>
        </div>
      </div>

      <div class="item">
        <%=image_tag  "project/running_ad.png", alt:"Running Ad", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Running Advertisement</h3>
          <p>Running advertisements for the school</p>
        </div>
      </div>

      <div class="item">
        <%=image_tag  "project/real_time_geotracking.png", alt:"Geotracking", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Geotracking Feature</h3>
          <p>Real time geotracking on users whereabouts</p>
        </div>
      </div>

      <div class="item">
        <%=image_tag  "project/finding_dest_path.png", alt:"path", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Destination Path</h3>
          <p>Path showing where the user traveled.</p>
        </div>
      </div>

      <div class="item">
        <%=image_tag  "project/geo_position.png", alt:"Geo-position", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Location</h3>
          <p>Exact lattitude and longitude position of user.</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#thesis" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#thesis" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <br>
<h2>Environmental and Engineering Consulting</h2>
  <div id="environConsulting" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#environConsulting" data-slide-to="0" class="active"></li>
      <li data-target="#environConsulting" data-slide-to="1"></li>
      <li data-target="#environConsulting" data-slide-to="2"></li>
      <li data-target="#environConsulting" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <%=image_tag "project/main.jpg", alt:"Main Screen", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Main</h3>
          <p>Main display for the application</p>
        </div>
      </div>

      <div class="item">
        <%=image_tag "project/tracking.jpg", alt:"Tracking Feature", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Tracking Feature</h3>
          <p>Tracking options for users</p>
        </div>
      </div>

      <div class="item">
        <%=image_tag "project/view_submenu.png", alt:"Submenu View", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Submenu View</h3>
          <p>View options for users</p>
        </div>
      </div>

      <div class="item">
        <%=image_tag  "project/view_submenu_options.png", alt:"Submenu Options", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Sub Menu Options</h3>
          <p>Sub-menu options displaying additional options for the general view</p>
        </div>
      </div>

      <div class="item">
        <%=image_tag  "project/running_ad.png", alt:"Running Ad", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Running Advertisement</h3>
          <p>Running advertisements for the school</p>
        </div>
      </div>

      <div class="item">
        <%=image_tag  "project/real_time_geotracking.png", alt:"Geotracking", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Geotracking Feature</h3>
          <p>Real time geotracking on users whereabouts</p>
        </div>
      </div>

      <div class="item">
        <%=image_tag  "project/finding_dest_path.png", alt:"path", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Destination Path</h3>
          <p>Path showing where the user traveled.</p>
        </div>
      </div>

      <div class="item">
        <%=image_tag  "project/geo_position.png", alt:"Geo-position", width:"460", height:"345"%>
        <div class="carousel-caption">
          <h3>Location</h3>
          <p>Exact lattitude and longitude position of user.</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#environConsulting" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#environConsulting" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<br><br><br><br><br><br>
<p>I have also learned about various framework, including Java Spring, Android and Ruby on Rails which this site was built on.</p>
<br><br><br><br><br><br>
</div>

<%=render file: '/app/views/layouts/footer-content'%>

