<%=render file: '/app/views/layouts/title-content'%>
<h2>Edit Article</h2>

<%= form_for :blog, url: blog_path(@blog), method: :patch do |f| %>
 
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@blog.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <%= select_tag(:option, options_for_select([['', 1], ['Software Engineering', 2], 
     ['Data Science', 3], ['Ruby', 4]],   :selected => :option )) %>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit "Update" %>
  </p>
 
<% end %>

<p><b><%=link_to "Back to main page", blog_index_path%>

<%=render file: '/app/views/layouts/footer-content'%>