<html>
<head>
  <style type="text/css"></style>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- Still not what it suppose to b -->



</head>


<div style="background: currentColor;">
  <div class="container" style="padding-left: 150px; padding-right: 150px">
    <div class="row">
      <div class="col-md-2" style="padding-left: 0">
        <h4>
          <%= link_to "Home", welcome_index_path %>
        </h4>
      </div>
      <div class="col-md-2"style="padding-left: 0">
        <h4>
          <%= link_to "About", welcome_about_path %>
        </h4>
      </div>
      <div class="col-md-2" style="padding-left: 0">
        <h4>
          <%= link_to "Projects", welcome_projects_path %>
        </h4>

      </div>

      <div class="col-md-2" style="padding-left: 0">
        <h4>
          <%= link_to "Resume", welcome_resume_path %>
        </h4>

      </div>
      <div class="col-md-2" style="padding-left: 0">
        <h4>
          <%= link_to "Contacts", welcome_contacts_path %>
        </h4>
      </div>
      <div class="col-md-2" style="padding-left: 0">
        <h4>
          <%= link_to "Blog", welcome_blog_path %>
        </h4>
      </div>
    </div>
  </div>
</div>