<html>
<head>
  <style type="text/css"></style>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width">
  <!-- <link rel="stylesheet" href="/assets/stylesheets/roll_in_animation"> -->
   <!-- <link href="/assets/stylesheets/roll_in_animation" rel="stylesheet" type="text/css"> -->

</head>
<body style="background:#FFE;">
<div class="main-title">
  <div class="container" style="padding-left: 150px; padding-right: 150px">
    <div class="row">
      <h1>Wayne Morris</h1>
    </div>
    <div class="row">
      <h1 style="text-shadow: 2px 2px #FF0000; font-size:30px"; >"Positively Impacting Lives through Science and Engineering"</h1>
    </div>
  </div>
 </div>

    <div style="background: currentColor;">
      <div class="container" style="padding-left: 150px; padding-right: 150px">
        <div class="row">
          <div class="col-md-2" style="padding-left: 0">
            <h4>
              <%= link_to "Home", welcome_index_path %>
            </h4>
          </div>
          <div class="col-md-2"style="padding-left: 0">
            <h4>
              <%= link_to "About", welcome_about_path %>
            </h4>
          </div>
          <div class="col-md-2" style="padding-left: 0">
            <h4>
              <%= link_to "Projects", welcome_projects_path %>
            </h4>

          </div>

          <div class="col-md-2" style="padding-left: 0">
            <h4>
              <%= link_to "Resume", welcome_resume_path %>
            </h4>

          </div>
          <div class="col-md-2" style="padding-left: 0">
            <h4>
              <%= link_to "Contact", welcome_contacts_path %>
            </h4>
          </div>
          <div class="col-md-2" style="padding-left: 0">
            <h4>
              <%= link_to "Blog", welcome_blog_path %>
            </h4>
          </div>
        </div>
      </div>
    </div>
